/* Site nav */ 

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  transform: scaleX(1);
}
  
/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
  background-color: var(--secondary-bg-color);
}

.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */ 

.button.order {
  display: inline-block;
  
  min-width: 200px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
}

/* Features */

.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap));
}

.feature > .item {
  flex-basis: calc(100% / 4 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);

}

.feature .thumb {
  background-color: var(--additional-bg-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.feature .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14; 
  text-transform: uppercase;
}

.feature .text {
  margin-bottom: ;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Works */

.section.works {
  padding-bottom: 94px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap));
}
  
.work > .item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);
}

.work .item img {
  display: block;
  width: 100%;
}

.work-type {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.work-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}


/* Team */

.section.team {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
 
  background-color: var(--additional-bg-color);
} 

.team {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--feature-gap));
  margin-top: calc(-1 * var(--feature-gap)); 
}
  
.team > .item {
  flex-basis: calc(100% / 4 - var(--feature-gap));
  margin-left: var(--feature-gap);
  margin-top: var(--feature-gap);
  
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  width: 100%;
  margin-bottom: 30px;
}

.team .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  margin-bottom: 16px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: space-between;
 
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.social-links li {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--white-color:);
  border-radius: 50%;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px; 

  color: var(--icon-color);
  border-radius: 50%;

  transition: background-color 250ms, color 250ms var(--timing-function);
} 

.social-links .icon {
  fill: currentColor;
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Clients */

.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between  ;
}

.clients .item {
  width: 170px;
  height: 90px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color 250ms, border 250ms var(--timing-function);
} 

.clients .icon {
  fill: currentColor;
}

.clients .link:hover, 
.clients .link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}  

